<!DOCTYPE html>
{{- $language_code := site.LanguageCode | default "en-us" -}}
<html lang="{{$language_code}}" {{ if in site.Data.i18n.rtl.rtl $language_code }}dir="rtl"{{end}}>

{{ partial "site_head" . }}

{{ $show_navbar := site.Params.main_menu.enable | default true }}
{{- $highlight_active_link := site.Params.main_menu.highlight_active_link | default true -}}
<body id="top" data-spy="scroll" {{ if $show_navbar }}data-offset="70"{{end}} data-target="{{ if or .IsHome (eq .Type "widget_page") | and $highlight_active_link }}#navbar-main{{else}}#TableOfContents{{end}}" class="page-wrapper {{ if not (.Scratch.Get "light") }}dark{{end}} {{ if not $show_navbar }}no-navbar{{end}}">

  {{/* Initialise Wowchemy. */}}
  {{ $js_license := printf "/*! Wowchemy v%s | https://wowchemy.com/ */\n" site.Data.wowchemy.version }}
  {{ $js_license := $js_license | printf "%s/*! Copyright 2016-present George Cushen (https://georgecushen.com/) */\n" }}
  {{ $js_license := $js_license | printf "%s/*! License: https://github.com/wowchemy/wowchemy-hugo-modules/blob/master/LICENSE.md */\n" }}
  {{ $js_bundle_head := $js_license | resources.FromString "js/bundle-head.js" }}
  {{ $wcDarkLightEnabled := site.Params.day_night | default false }}
  {{ $wcIsSiteThemeDark := not (.Scratch.Get "light") | default false }}
  {{ $js_params := dict "wcDarkLightEnabled" $wcDarkLightEnabled "wcIsSiteThemeDark" $wcIsSiteThemeDark }}
  {{ $js_bundle := resources.Get "js/wowchemy-init.js" | js.Build (dict "params" $js_params) }}
  {{- if hugo.IsProduction -}}
    {{ $js_bundle = $js_bundle | minify }}
  {{- end -}}
  {{ $js_bundle := slice $js_bundle_head $js_bundle | resources.Concat "js/wowchemy-init.min.js" }}
  {{- if hugo.IsProduction -}}
    {{- $js_bundle = $js_bundle | fingerprint "md5" -}}
  {{- end -}}
  <script src="{{ $js_bundle.RelPermalink }}"></script>

  {{ partial "search" . }}

  <div class="page-header">
    {{ partial "navbar" . }}
  </div>

  <div class="page-body">
    {{ block "main" . }}{{ end }}
  </div>

  <div class="page-footer">
    {{/* Docs and Updates layouts include the site footer in a different location. */}}
    {{ if not (in (slice "book" "docs" "updates") .Type) }}
    <div class="container">
      {{ partial "site_footer" . }}
    </div>
    {{ end }}
  </div>

  {{ partial "citation" . }}

  {{ partial "site_js" . }}

  <!-- Init code folding -->
  {{ partial "article_footer_js.html" . }}

</body>
</html>
