{{ if and (not site.Params.disable_codefolding) (not .Params.disable_codefolding) (in (string .Content) "</pre>") }}
  <script>
  $(document).ready(function () {
    window.initializeCodeFolding("show" === {{ if isset .Params "codefolding_show" }}{{ .Params.codefolding_show }}{{ else }}{{ default ("hide") site.Params.codefolding_show }}{{ end }});
    window.moveTOC();
  });
  </script>
  <script src="{{ "js/codefolding.js" | relURL }}"></script>
  <script src="{{ "js/toc.js" | relURL }}"></script>
  <link rel="stylesheet" href="{{ "css/codefolding.css" | relURL }}" />
{{ end }}
